:root{
    --primary-red-color: hsl(0,100%,74%);
    --primary-green-color: hsl(154, 59%, 49%);
    --accent-color: hsl(248, 10%, 49%);
    --neutral-dark-color: hsl(249,10%,26%);
    --neutral-gray-color: hsl(246, 25%, 77%);
    --fs-body: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-body);
    background-image: url(/images/bg-intro-desktop.png);
    background-color: var(--primary-red-color);
    width: 100%;
    height: 100vh;
}

.main-section{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; 
    max-width: 900px;
    width: 100%;
    height: 100vh;
    /* padding: 2rem; */
}

.sub-section-one{
    border: 2px solid black;
    color: #fff;
    height: 12rem;
    width:37rem ;
    padding: 2rem;

}

.sub-section-one h1{
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.sub-section-one p{
    font-weight: 400;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    opacity:0.8;
}

